files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02a_set_cache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      if [ -f "/tmp/cache/node_modules.tar.gz" ]; then
        tar -xf /tmp/cache/node_modules.tar.gz -C $EB_APP_STAGING_DIR
        if [ -d "$EB_APP_STAGING_DIR/node_modules" ]; then
          chown webapp:webapp -R "$EB_APP_STAGING_DIR/node_modules"
        fi
      fi

      exit 0
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11a_build_cache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR
      mkdir -p /tmp/cache

      if [ -d "node_modules" ]; then
        tar -zcf /tmp/cache/node_modules.tar.gz node_modules
      fi

